/*--------------------------------------------------------------
# Featured Services Section
--------------------------------------------------------------*/
.featured-services {
    --cyan-color: #0dcaf0;
    --orange-color: #fd7e14;
    --teal-color: #80CBC4;
    --red-color: #df1529;
  }
  
  .featured-services .service-item {
    background-color: var(--surface-color);
    box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 40px 30px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    border: 1px solid transparent;
  }
  
  .featured-services .service-item .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .featured-services .service-item .icon i {
    font-size: 28px;
    transition: 0.5s;
    position: relative;
  }
  
  .featured-services .service-item h3 {
    font-weight: 700;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .featured-services .service-item p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .featured-services .service-item:hover {
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.1);
  }
  
  .featured-services .service-item.item-cyan .icon {
    background-color: color-mix(in srgb, var(--cyan-color) 10%, white 95%);
  }
  
  .featured-services .service-item.item-cyan .icon i {
    color: var(--cyan-color);
  }
  
  .featured-services .service-item.item-cyan:hover {
    border-color: var(--cyan-color);
  }
  
  .featured-services .service-item.item-cyan:hover .icon {
    background-color: var(--cyan-color);
  }
  
  .featured-services .service-item.item-cyan:hover .icon i {
    color: var(--contrast-color);
  }
  
  .featured-services .service-item.item-orange .icon {
    background-color: color-mix(in srgb, var(--orange-color) 10%, white 95%);
  }
  
  .featured-services .service-item.item-orange .icon i {
    color: var(--orange-color);
  }
  
  .featured-services .service-item.item-orange:hover {
    border-color: var(--orange-color);
  }
  
  .featured-services .service-item.item-orange:hover .icon {
    background-color: var(--orange-color);
  }
  
  .featured-services .service-item.item-orange:hover .icon i {
    color: var(--contrast-color);
  }
  
  .featured-services .service-item.item-teal .icon {
    background-color: color-mix(in srgb, var(--teal-color) 10%, white 95%);
  }
  
  .featured-services .service-item.item-teal .icon i {
    color: var(--teal-color);
  }
  
  .featured-services .service-item.item-teal:hover {
    border-color: var(--teal-color);
  }
  
  .featured-services .service-item.item-teal:hover .icon {
    background-color: var(--teal-color);
  }
  
  .featured-services .service-item.item-teal:hover .icon i {
    color: var(--contrast-color);
  }
  
  .featured-services .service-item.item-red .icon {
    background-color: color-mix(in srgb, var(--red-color) 10%, white 95%);
  }
  
  .featured-services .service-item.item-red .icon i {
    color: var(--red-color);
  }
  
  .featured-services .service-item.item-red:hover {
    border-color: var(--red-color);
  }
  
  .featured-services .service-item.item-red:hover .icon {
    background-color: var(--red-color);
  }
  
  .featured-services .service-item.item-red:hover .icon i {
    color: var(--contrast-color);
  }